# Dependencies
node_modules
pnpm-lock.yaml

# Build outputs
.next
out
dist
build

# Cache
.turbo
.cache
*.tsbuildinfo

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db
